
body{
    background-color: #aaa;
}

.contenedor{
    background-color: rgb(34, 64, 161);
    width: 90%;
    text-align: center;
    margin: auto;
    height: 600px;
}

.titulo{
    background-color: rgb(34, 64, 161);
    height: 10%;
    text-align: center;
    padding: 1px 0px 0px 0px;
}

h1{
    text-align: center;
    /* (Arriba , Derecha, Abajo e Izquierda) */
    font-size: 25px;
    color: white;
    height: 100%;
    margin-top: 0;
    padding: 12px;
}

.audio{
    display: flexbox;
    margin-top: -600px;
    margin-left: 100px;
}

h1:hover,
h1:active{
    background-color: white;
    color: rgb(34, 64, 161);
}
/* ------------------------------------------------ */
.caja1{
    background-color: silver;
    width: 50%;
    height: 560px;
    margin-top: 0px;
    border: 1px solid #000;
}

.subcajade1{
    background-color: silver;
    height: 90%;  
    width: 80%;  
    margin-left: 8%;
    margin-top: 5%;
    text-align: justify;
    border: 1px solid #000;
    padding: 0px 15px 0px 15px;
}

h2{
    text-align: center;
}

/* .................................................... */
.caja2{
    background-color: silver;
    width: 50%;
    height: 280px;
    margin-left: 50%;
    margin-top: -562px;
    border: 1px solid #000;
}

.subcajade2{
    background-color: rgb(219, 214, 214);
    width: 90%;
    height: 90%;
    border: 1px solid #000;
    margin-left: 5%;
    margin-top: 2%;
}

.vinculos{
    background-color: white;
    width: 40%;
    height: 15%;
    text-align: center;
    /* (Arriba , Derecha, Abajo e Izquierda) */
    padding: 12px 0px 0px 0px;
    border: #000 solid 1px;
    margin-left: 29%;
    font-family: 'Roboto', sans-serif;
}

.vinculos:hover,
.vinculos:active{
    background-color:rgb(34, 64, 161);
    color: white; 
}
.vinculos a:link,
.vinculos a:visited{
    color: black; 
}
a{
    text-decoration: none;
}
/* ---------------------------------------------------- */
.caja3{
    background-color: silver;
    width: 25%;
    height: 278px;
    margin-left: 50%;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;;

}

.subcajade3{
    background-color: silver;
    width: 80%;
    margin-left: 10%;
}

.subcajade3{
    background-color: silver;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    text-align: justify;
    padding: 50px 0;
}
/* .............................................. */
.caja4{
    background-color: silver;
    width: 25%;
    height: 280px;
    margin-left: 75%;
    margin-top: -279px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 2px solid #000;
}

.subcajade4{
    background-color: silver;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    text-align: justify;
    padding: 50px 0;
}

.subcajade4 img{
    width: 100%;
    height: 100%;
    margin-top: 12%;
}