.menu {
  color: blue;
  font-size: larger;
  font-weight: bolder;
}
.parrafo {
  color: greenyellow;
  font-size: larger;
  font-weight: bolder;
}
.tituloparrafo {
  color: gray;
  font-size: larger;
  font-weight: bolder;
}
