* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  body {
    background-color: white;
  }
  
  .contenedor {
    display: flex;
    width: 90%;
    flex-flow: column row;
    background-color: white;
    margin: auto;
    height: 800px;
  }
  
  .nombre {
    background-color: #aaa;
    height: 100px;
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
  /* -------------------------Caja1------------------ */
  .caja1 {
    display: flexbox;
    background-color: rgb(14, 98, 177);
    width: 405px;
    padding: 40px 0px 0px 0px;
    border-top: #000 2px solid;
    border-right: #000 3px solid;
    border-left: #000 2px solid;
    border-bottom: #000 2px solid;
  }
  /* ----------------------Caja2 --------------- */
  .caja2 {
    display: flexbox;
    background-color: rgb(236, 236, 236);
    height: auto;
    width: 800px;
    padding: 40px 0px 0px 0px;
    border-top: #000 2px solid;
    border-right: #000 2px solid;
    border-left: #000 3px solid;
    border-bottom: #000 2px solid;
  }
  
  .caja2 {
    text-align: center;
  }
  
  h2 {
    padding: 20px 20px;
    text-align: left;
  }
  
  .caja2 ul {
    text-align: left;
    padding: 10px 0px 0px 30px;
  }
  
  .educacion,
  .aptitudes {
    padding: 30px 0px 0px 0px;
  }
  
  .dispo {
    padding: 80px 0px;
  }
  
  .dispo span {
    font-size: 20px;
  }
  
  .uno {
    /* (Arriba , Derecha, Abajo e Izquierda) */
    padding: 0px 80px 0px 0px;
  }
  